<!-- <% layout('layouts/boilerplate') %>
<%- include('../partials/navbar') %> -->
    <!-- <div class="row">
        <div class="col-6 mx-auto">
            <form action="/products" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="naam">Name : </label>
                    <input class="form-control" type="text" name="name" id="naam" placeholder="Name of the products" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the name field.
                    </div>    
                </div>
                <div class="mb-3">
                    <label for="img">Image : </label>
                    <input class="form-control" type="text" name="img" id="img" placeholder="Image of the products" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the image field.
                    </div> 
                </div>
                <div class="mb-3">
                    <label for="Price">Price : </label>
                    <input class="form-control" type="number" name="price" id="Price" placeholder="Price of the products" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the price field.
                    </div> 
                </div>
                <div class="mb-3">
                    <label for="desc">Description : </label>
                    <textarea name="desc" id="desc" rows="5" placeholder="Description of the products" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the description field.
                    </div> 
                </div>
                <button class="btn btn-sm btn-success" type="submit">Add Product</button>
            </form>
        </div>   
    
    </div> -->
    <!-- <script>

        iife function
    Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
        'use strict'

        Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script> -->
<!-- </body>
</html> -->




















<% layout('layouts/boilerplate') -%>


<div class="row">
    <div class="col-md-6 mx-auto">
            <!-- form ko submit krna hai and db mai save krna hai so i have to use post method -->
        <form action="/products" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="name">Name : </label>
                    <!-- name whyi hoga joh schema mai diya hoga it has to be same  -->
                <input class="form-control" type="text" name="name" id="name" placeholder="Product Name" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="img" class="form-label">Image URL</label>
                    <!-- name whyi hoga joh schema mai diya hoga it has to be same  -->
                <input class="form-control" type="text" name="img" id="img" placeholder="Product Image URL" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
        
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <!-- name whyi hoga joh schema mai diya hoga it has to be same  -->
                    <input type="text" name="price" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>  
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="desc">Description</label>
                <textarea class="form-control" name="desc" id="desc" rows="5" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button type="submit" class="btn btn-sm btn-success">Add</button>
        </form>
    </div>
</div>

